.product__card{
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid purple;
}

.product__section{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ccc;
}

.product__img{
  border: 1px solid #ccc;
}

.product__info{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.product__info-name{
  margin: 0;
  font-size: x-large;
  font-weight: 500;
}

.product__info-price{
  margin-top: 0.5rem;
  font-size: x-large;
  font-weight: bolder;
}