section{
  display: flex;
  gap: 1rem;
}

.container{
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid green;
}


.stack-box{
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
}

.stack-item {
  background: #d1ecf1;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
  text-align: center;
  color: #0c5460;
}

.queue-box{
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
}

.queue-item {
  background: #d1f1e6;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
  text-align: center;
  color: #0c6056;
}